<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="First step of automation">
    <test name = "Login (USER-L)">
        <classes>
            <class name = "LoginSuccessfulTest"></class>
            <class name = "LoginUnsuccessfulTest"></class>
        </classes>
    </test>
    <test name="System Menu and Main page (SYS-MENU, SYS-MP)">
        <classes>
            <class name = "SystemMenuTest"></class>
            <class name="SystemOperationTest"></class>
        </classes>
    </test>
    <test name = "Change of Data Account (USER-ACC-2, USER-ACC-3)">
        <classes>
            <class name = "ChangingDataAccountTest"></class>
            <class name = "ChangingLoginAndPassTest"></class>
        </classes>
    </test>
    <test name = "Recovery of the password (USER-ACC-1, USER-ACC-MES-1)">
        <classes>
            <class name = "PasswordRecoveryTest"></class>
        </classes>
    </test>
    <test name = "Candidate registration (Cand-reg-1 - 3)">
        <classes>
            <class name ="CheckRegistrationButtonsTest"></class>
            <class name = "CandidateRegistrationTest"></class>
            <class name = "EntryUnderRegistretedCandidatesTest"></class>
        </classes>
    </test>
    <test name = "Payments (service fee)">
        <classes>
            <class name="PayServiceFeeTest"></class>
            <class name="ButtonServiceFeeTest"></class>
        </classes>
    </test>
</suite>